pkgbase = keyguard-bin
	pkgdesc = Multi-client for the Bitwarden® platform and KeePass (KDBX), designed to provide the best user experience possible.
	pkgver = 2.4.0
	pkgrel = 1
	url = https://github.com/AChep/keyguard-app
	arch = x86_64
	arch = aarch64
	license = LicenseRef-proprietary
	depends = hicolor-icon-theme
	provides = keyguard
	conflicts = keyguard
	options = !strip
	source_x86_64 = https://github.com/AChep/keyguard-app/releases/download/r20260228/Keyguard-2.4.0-linux-x86_64.tar.gz
	sha256sums_x86_64 = 4553bde2315b81df40b971fb0743e83dcd986b01f122efe377a2824dc6394b96
	source_aarch64 = https://github.com/AChep/keyguard-app/releases/download/r20260228/Keyguard-2.4.0-linux-aarch64.tar.gz
	sha256sums_aarch64 = 1cb83e677bd6783b41542c8db1b6286789d234e9c7a867434ecae3bf2675e8f8

pkgname = keyguard-bin
