pkgbase = keyguard-bin
	pkgdesc = Multi-client for the Bitwarden® platform and KeePass (KDBX), designed to provide the best user experience possible.
	pkgver = 2.5.0
	pkgrel = 1
	url = https://github.com/AChep/keyguard-app
	arch = x86_64
	arch = aarch64
	license = LicenseRef-proprietary
	depends = hicolor-icon-theme
	provides = keyguard
	conflicts = keyguard
	options = !strip
	source_x86_64 = https://github.com/AChep/keyguard-app/releases/download/r20260313.1/Keyguard-2.5.0-linux-x86_64.tar.gz
	sha256sums_x86_64 = d0cb7c41bf8532ea1169e89a67086b0192886c148009ec902284ad2887cf5cb6
	source_aarch64 = https://github.com/AChep/keyguard-app/releases/download/r20260313.1/Keyguard-2.5.0-linux-aarch64.tar.gz
	sha256sums_aarch64 = 0d634990f2a5bf9919630d5c7df9a7c3f7bab31cfcab89dea110d670edc1f10c

pkgname = keyguard-bin
