pkgbase = keyguard-bin
	pkgdesc = Multi-client for the Bitwarden® platform and KeePass (KDBX), designed to provide the best user experience possible.
	pkgver = 2.6.0
	pkgrel = 1
	url = https://github.com/AChep/keyguard-app
	arch = x86_64
	arch = aarch64
	license = LicenseRef-proprietary
	depends = hicolor-icon-theme
	provides = keyguard
	conflicts = keyguard
	options = !strip
	source_x86_64 = https://github.com/AChep/keyguard-app/releases/download/r20260315/Keyguard-2.6.0-linux-x86_64.tar.gz
	sha256sums_x86_64 = 7f1d6fb3e916b8424579200c4c1506012b2fa155f43f7fe960b21f73fbdbd703
	source_aarch64 = https://github.com/AChep/keyguard-app/releases/download/r20260315/Keyguard-2.6.0-linux-aarch64.tar.gz
	sha256sums_aarch64 = 7aa34dd29febfad4711ad2aef957157bea3c3981dcc054c7bffbd4b30ae29383

pkgname = keyguard-bin
